<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @wish.from %>
</p>

<p>
  <strong>Wishes:</strong>
  <%= @wish.wishes %>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
